{% extends 'base.html' %}
{% load static %}
{% block css %}

    button:hover{
        transform: scale(1.1);
        box-shadow: 5px 5px 5px black;
    }

    #crd:hover{
        opacity: 0.7;
        background-color: grey;
        transform: scale(1.04);
    }

    #crd:hover .middle{
        opacity:1;
    }

    .middle{
        opacity:0;
        position: absolute;
        left:0;
        right:0;
        top:40%;
    }

    .text{
        font-size:40px;
        color: white;
    }

    .card-text{
        color:black;
    }

    .card-title{
        color:black;
    }

{% endblock %}

{% block body %}
<ul class="nav navbar-nav ml-auto">

        <li class="nav-item mr-3 pt-1">
                <form action="http://localhost:8000/web/search/" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-light btn-lg">
                    <span class="fas fa-search"></span>Search
                </button>
                </form>
        </li>


        <li class="nav-item mr-3 pt-1">
            <form action="{% url 'web:login' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-light btn-lg">
                <span class="fas fa-sign-in-alt"></span> Login
            </button>
            </form>
        </li>
        <li class="nav-item pt-1">
            <form action="{% url 'web:signup_options' %}">
            {% csrf_token %}    
            <button type="submit" class="btn btn-light btn-lg">
                <span class="fas fa-handshake"></span> SignUp
            </button>
            </form>
        </li>
</ul>

{% endblock %}

{% block div %}
<br><br><br><br>
<div style="margin-left:10% ; margin-right:10%">
<div class="card-columns">
        {% for product in category.products.all %}
        <a href="{% url 'web:search_product' pk=product.pk %}">
        <div class="card border-dark" id="crd">
            {% if product.image %}
            <img class="card-img-top " src="{{product.image.url}}" alt="Card image cap" height="200" >
            {% else %}
            <img class="card-img-top " src="{% static 'web/images/download.jpeg' %}" alt="Card image cap" height="200" >
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">
                    Seller: {{product.seller}}
                    <br>
                    Price: {{product.price}}
                </p>        
            </div>

            <div class='middle'>
                    <h1 align='center' class='text'>Click to Open</h1>
            </div>

          </div>
          </a>
          {% endfor %}
          </div>
          </div>
<!-- {% for product in category.products.all %}
<form action="{% url 'web:search_product' pk=product.pk %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-success text-body btn-lg">{{product.name}}</button>
</form>
<br>
{% endfor %} -->
{% endblock %}