{% extends 'base.html' %}

{% block css %}

    button:hover{
        transform: scale(1.1);
        box-shadow: 5px 5px 5px black;
    }

{% endblock %}

{% block body %}

<ul class="nav navbar-nav ml-auto">
        <li class="nav-item mr-3 pt-1">
            <form action="{% url 'web:my_profile' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-light btn-lg">
                    <span class="fas fa-sign-out-alt"></span> profile
            </button>
            </form>
        </li>

        <li class="nav-item mr-3 pt-1">
            <form action="{% url 'web:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-light btn-lg">
                <span class="fas fa-sign-out-alt"></span> Logout
            </button>
            </form>
        </li>
</ul>

{% endblock %}

{% block div %}

<br><br><br><br>
<div class="container">
    {% if product.image %}
        <img src="{{product.image.url}}"  height="200" width="200">
        <br><br>
    {% endif %}
    <h6>Product name: {{product.name}}</h6>
    <h6>Product category: {{product.category}}</h6>
    <h6>Product price: {{product.price}}</h6>
    <div>
            <h2>Comments</h2>
            {% for comment in product.comment_set.all %}
            <ul>
                <li>{{ comment.content }} - via {{ comment.user }} on {{comment.timestamp}}</li>
            </ul>
            {% endfor %}
            {% if not user.is_seller is True %}
            <h2>Add Comments</h2>
            <form action='.' method='POST'>
                {% csrf_token %}
                {{ form.as_p }}
                <input type='submit' value='Save'/>
            </form>
            {% endif %}
        </div>
</div>

{% endblock %}
